.editor_box{
    border: 3px solid rgb(78, 76, 76);
    width: 320px;
}

.game-loader{
    border: 3px solid rgb(78, 76, 76);
}

#editor-toolbox{
    background-color: rgb(109, 105, 105);
    width: 360px;
    color: seashell;
}

#game-canvas{
 /*   border: solid black 3px;
    border-radius: 25px;   */
    
}

div#game-screen{
    position: absolute;
    margin-left: 400px;
    top: 0;
}

div#map-editor{
    position: absolute;
    background-color: rgb(109, 105, 105);
    margin-left: 400px;
    height: 220px;
    top: 600px;
    width: 960px;
}

div#add-earth{
    
    float: right;
}

button#add-earth-button{
    height: 50px;
    width: 75px;
    font-size: 40;
}

button#minus-earth-button{
    height: 50px;
    width: 75px;
    font-size: 40;
}

div#tile-editor{
    border: solid black 3px;
    justify-content: center;
    width: 250px;
}

#tile-display{
    display: block;
    margin: auto;
    align-self: center;
    border: solid black 3px;
    justify-content: center;
}

.cursor_img{
    position: absolute;
    z-index: 1000;
}

.sky_cursor{
    cursor: url(./public/images/sky_block_1.png), auto;
}
.earth_cursor{
    cursor: url(./public/images/earth_1.png), auto;
}
.crate_cursor{
    cursor: url(./public/images/crate_1.png), auto;
}
.island_cursor{
    cursor: url(./public/images/sky_island_1.png), auto;
}


