body{
    background-color: #484848;
}

.editor{
    border: solid rgb(218, 218, 218) 1px;
    box-shadow: 1px 1px 1px 1px #888888;
}



.editor_box{
    border: solid rgb(218, 218, 218) 1px;
    box-shadow: 1px 1px 1px 1px #888888;
    width: 320px;
}

.game-loader{
    border: 3px solid rgb(78, 76, 76);
}

#editor-toolbox{
    background-color: rgb(109, 105, 105);
    width: 360px;
    color: seashell;
    border: solid rgb(218, 218, 218) 1px;
    box-shadow: 1px 1px 1px 1px #888888;
}

canvas#game-canvas{
 /*  border: solid black 3px;
    border-radius: 25px;   */
 /*   width: 900px;*/
    
    overflow-x: hidden;
}

div#game-screen{
    position: absolute;
    margin-left: 480px;
    margin-top: 60px;
    
   
    top: 0;
}
div#border-div{
    position: absolute;
    margin-left: -80px;
    top: -70px;
    width: 900px;
    height: 530px;
    border: solid rgba(0, 0, 0, 1) 80px;
    border-radius: 25px; 
    z-index: 3000;
}

div#game-console{
    height: 40px;
    margin-top: 60px;
    border: solid black 6px;
    border-radius: 25px; 
    width: 330px;
    overflow: hidden;
  
}
/*#map-editor{
    position: absolute;
    vertical-align: top;
    display: inline-block; 
    background-color: rgb(109, 105, 105);
    margin-left: 400px;
    height: 240px;
    top: 740px;
    width: 960px;
    border: solid rgb(218, 218, 218) 1px;
    box-shadow: 1px 1px 1px 1px #888888;

}
*/

#map-editor{
    
}

div#add-earth{
    
 /*   float: right;*/
 margin-top: 33px;
}

button#add-earth-button{
    height: 50px;
    width: 75px;
    font-size: 40;
}

button#minus-earth-button{
    height: 50px;
    width: 75px;
    font-size: 40;
}

div#tile-editor{
    border: solid black 3px;
    justify-content: center;
    width: 250px;
    vertical-align: top;
    display: inline-block;
}

#tile-display{
    display: block;
    margin: auto;
    align-self: center;
    border: solid black 3px;
    justify-content: center;
}
#coin-editor{
    border: solid black 3px;
    justify-content: center;
    width: 250px;
    vertical-align: top;
    display: inline-block;
}

.cursor_img{
    position: absolute;
    z-index: 1000;
}

.sky_cursor{
    cursor: url(./public/images/sky_block_1.png), auto;
 z-index: 4000;
}
.earth_cursor{
    cursor: url(./public/images/earth_1.png), auto;
 z-index: 4000;
}
.crate_cursor{
    cursor: url(./public/images/crate_1.png), auto;
 z-index: 4000;
}
.island_cursor{
    cursor: url(./public/images/sky_island_1.png), auto;
     z-index: 4000;
}

.coin_cursor{
    cursor: url(./public/images/mario_coin_80px.png), auto;
    z-index: 4000;
}
.door_cursor{
    cursor: url(./public/images/game_over_door.png), auto;
    z-index: 4000;
}

#coin-counter{
position: absolute;
top: 30;
color: blanchedalmond;
font-size: 33px;
}

.facing_left{
    transform: scaleX(-1);
}

.baddy_drop_down_button{
    background-color:  rgb(87, 83, 83);
}


.baddy_display_image{
    margin: auto;
    display: block;
}

.baddy_display_image_div{
    margin: auto;
    display: block;
    width: 100px;
    height: 100px;
    border: solid black 3px;
    align-content: center;
    display: flex;
    background-color: rgb(218, 218, 218);
}

.display_tile{
    margin: auto;
    display: block;
}
#tile-display{
    background-image: url('./public/images/grey_checkered_4px.png');
    background-size: 320px 160px, contain;
   /* background-repeat:no-repeat;*/
}

.door_active{
    border: solid green 3px;
    color: darkgreen;
}

.door_inactive{
   /* border: solid red 3px;*/
    color: rgb(75, 74, 74);
}

fieldset#end-of-game-editor{
    margin-top: 33px;
    width: 300px;
    height: 200px;
    vertical-align: top;
    display: inline-block;
}





.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 360px;
  }


  .tab button {
    background-color: inherit;
    float: left;
    border: solid rgb(218, 218, 218) 1px;
    box-shadow: 1px 1px 1px 1px #888888;
    outline: none;
    cursor: pointer;
    padding: 7px 8px;
    transition: 0.2s;
  }

  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .palette-img{
      cursor: pointer;
      width:40px;
      height:40px;
      padding: 3px;
  
  }
  .palette-img:hover{
      background-color: darkgrey;
  }

  #tile-palette{
      width:160px;
    border: solid rgb(218, 218, 218) 1px;
    box-shadow: 1px 1px 1px 1px #888888;
    margin:  33px 33px 33px 0px;
    display: inline-block;
  }

  .palette_selected{
    background-color: darkgrey;
  }

  